// Place all the styles related to the Shortener controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-box {
	height: 60px;
	width: 555px;
	margin: 25px 15px;
	background-color: #ffffff;
}

.copy-box {
	float: right;
}