<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>

<body ng-app="urlShortener" ng-controller="MainCtrl" ng-style="{'background-image': 'url({{backgroundImg}})'}">
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">UrlShortnener</a>
			    </div>
			    <div id="navbar" class="collapse navbar-collapse">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Home</a></li>
			        <li><a href="#about">About</a></li>
			        <li><a href="#contact">Contact</a></li>
			      </ul>
			    </div><!--/.nav-collapse -->
			  </div>
			</nav>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form class="input-group" name="myForm">
					<input type="url" name="input" class="form-control" placeholder="Enter a link to shorten it" ng-model= "url" ng-change="getShortenedUrl(url)" required>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">Shorten</button>
					</span>

				</form>
			</div>
		</div>
		<div class="row" ng-show="!myForm.input.$error.required">
			<div class="col-md-3"></div>
			<div class="loader" ng-show="loading"></div>
			<div class="col-md-6 result-box" ng-show="!loading">
				<div ng-show="myForm.input.$error.url">INVALID URL</div>
				<div ng-show="myForm.input.$valid">
					<div class="title">{{title}}</div>
					<a ng-href="{{shortened_url}}" target="_blank">{{shortened_url}}</a>
					<div class="copy-box">
						<span ng-show="copied">Copied!</span>
						<button ngclipboard data-clipboard-text="{{shortened_url}}" ng-click="copied = true">
					 	   <span class="glyphicon glyphicon-copy" aria-hidden="true" title="Copy to clipboard"></span>
						</button>
					</div>
					<div class="view-box">
						Views: {{click_count}}
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
