<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>

<body ng-app="urlShortener" ng-controller="MainCtrl" ng-style="{'background-image': 'url({{backgroundImg}})'}">
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">UrlShortnener</a>
			    </div>
			    <div id="navbar" class="collapse navbar-collapse">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Home</a></li>
			        <li><a href="#about">About</a></li>
			        <li><a href="#contact">Contact</a></li>
			      </ul>
			    </div><!--/.nav-collapse -->
			  </div>
			</nav>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form class="input-group" ng-class="{ 'has-error' : myForm.input.$error.url }" name="myForm">
					<input type="url" name="input" class="form-control" placeholder="Enter a link to shorten it" ng-model= "url" ng-change="getShortenedUrl(url)" required>
					<span></span>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="getShortenedUrl(url)">Shorten</button>
					</span>

				</form>
				<div class="alert alert-danger" role="alert" ng-show="myForm.input.$error.url || requestError">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Your url does not exist or the site is down! Please try again!
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="loader" ng-show="loading"></div>
			<div class="col-md-6 result-box" ng-show="myForm.input.$valid && !loading && !requestError">
				<div class="title">{{title}}</div>
				<div class="original-url">{{url}}</div>
				<div class="shortened-url">
					<a ng-href="{{hrefUrl}}" target="_blank">{{shortenedUrl}}</a>
					<button class="copy-button" ngclipboard data-clipboard-text="{{shortenedUrl}}" ng-click="copied = true">
				 	   <span class="glyphicon glyphicon-copy" aria-hidden="true" title="Copy to clipboard"></span>
					</button>
					<span class="copy-text" ng-show="copied">Copied!</span>
				</div>
				<div class="view-box">
					Views: {{clickCount}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
